{% extends 'base.html' %}
{% block title %}REDPill{% endblock %}
{% load socialaccount %}
{% providers_media_js %}
{% block body %}
<div class="container">
  <div class="jumbotron text-center bg-danger">
    <h1 class="text-dark"><b>RED</b>pill</h1><br>
      {% if request.user.is_authenticated %}
    <h5 class="text-white">Download all your Facebook Images with a Click!</h5><br>
    <a class="btn btn-info download" href="{% url 'index' %}?download_image=true&download=True" id="dwnld-btn">
      Download
    </a>
          <a href="{% url 'account_logout' %}" class="btn btn-facebook">LOGOUT</a>
          <div id="message" style="padding-top: 19px;">{{ message }}</div>
      {% else %}
    <a href="{% provider_login_url 'facebook' method='oauth2' %}" class="btn btn-facebook">LOGIN WITH FACEBOOK</a>
      {% endif %}
  </div>
</div>
{% include 'snippets/email_popup.html' %}
{% endblock %}

{% block scripts %}
<!--    <script type="text/javascript">-->
<!--   $(document).ready(function () {-->

<!--       $('#dwnld-btn').on('click', function () {-->
<!--           $('#email_popup').modal('show');-->

<!--       });-->

<!--   });-->
<!--    </script>-->
{% endblock %}

