body {
    display: flex;
    align-items: center;
}

html, body {
    height:100%;
    background-color: #1d2124;
}

h1 {
    font-size: 60px;
}

.download {
    width: 200px;
}

.jumbotron {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 25%;
    background-color: #fb4e5e;
}


